.footer {
  display: flex;
  align-items: center;
  /* margin: -0.5rem -3.5rem; */
  position: relative;
  margin-top: -14rem;
}
.fContent {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10rem;
  gap: 4rem;
  color: black;
  overflow: hidden;
}
.fIcons {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: -3rem;
  }
  .fContent {
    transform: scale(0.6);
    gap: 0.5rem;
    margin-top: 3rem;
  }
}
