@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  /* box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42); */
  border-radius: 3px;
  border: none;
  color: #000;
  font-size: 16px;
}

.button:hover {
  background: white;
  border: 1px solid var(--orange);
  color: var(--orange);
  box-shadow:
    0 0 10px #fec510,
    0 0 40px #fec510,
    0 0 80px #fec510;
  /* transition-delay: 0.25s; */
  background: white;
}

.button1 {
  background-color: royalblue;
  animation: button1 0.5s ease-in-out infinite alternate;
}

.category {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: lightgray;
  padding: 7px 14px;
  letter-spacing: 2px;
  background-color: purple;
  overflow: hidden;
}
.category1 {
  border-left: 5px solid #fb4c35;
  width: auto;
  display: block;
  background: linear-gradient(to right, #fb4c35 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.category1:hover {
  background-position: left bottom;
}

@keyframes button1 {
  to {
    background-color: #fca61f;
  }
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}
